In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437110,0,Adult,14,11,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,False
437111,0,Adult,2,0,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,True
437112,3,Senior,5,0,75 years and over,e7,Eureka Valley,August,2004.0,p,Phone,False,2003,True
437113,3,Senior,4,0,65 to 74 years,m6,Mission,August,2004.0,z,Email,True,2004,True
437114,3,Senior,3,9,65 to 74 years,p9,Presidio,August,2004.0,z,Email,True,2004,True

In [2]:
df['Year Patron Registered'].value_counts()

2019    56437
2022    52377
2003    42903
2020    32999
2021    32568
2017    30419
2018    30262
2016    22551
2015    21105
2014    17028
2013    14245
2012    13908
2011    13285
2009    12098
2010    11884
2008    10760
2007     6900
2006     5579
2005     5069
2004     4738
Name: Year Patron Registered, dtype: int64

In [5]:
df['Year Patron Registered'].value_counts(normalize=True)

2019    0.129112
2022    0.119824
2003    0.098150
2020    0.075493
2021    0.074507
2017    0.069590
2018    0.069231
2016    0.051591
2015    0.048282
2014    0.038955
2013    0.032589
2012    0.031818
2011    0.030392
2009    0.027677
2010    0.027187
2008    0.024616
2007    0.015785
2006    0.012763
2005    0.011596
2004    0.010839
Name: Year Patron Registered, dtype: float64

In [6]:
# Im Jahr 2013 haben sich 3,3% der Kunden angemeldet
# Von 2014 bis 2022 haben sich

In [8]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.212729
35 to 44 years       0.184501
10 to 19 years       0.154337
45 to 54 years       0.111768
0 to 9 years         0.079420
65 to 74 years       0.073147
20 to 24 years       0.056132
55 to 59 years       0.044203
75 years and over    0.043266
60 to 64 years       0.040496
Name: Age Range, dtype: float64

In [9]:
0.212729*100 # 21,3% sind zwischen 25 und 34

21.2729